/* Coolors Exported Palette - coolors.co/011627-f71735-41ead4-fdfffc-ff9f1c */

/* HSL */
// $darkBlue: hsla(207%, 95%, 8%, 1);
// $red: hsla(352%, 93%, 53%, 1);
// $lightBlue: hsla(172%, 80%, 59%, 1);
// $white: hsla(100%, 100%, 99%, 1);
// $orange: hsla(35%, 100%, 55%, 1);

/* RGB */

$white: rgba(253, 255, 252, 1);
$darkBlue: rgba(36, 123, 160, 1);
$blue: rgba(112, 193, 179, 1);
$lightBlue: rgba(178, 219, 191, 1);
$orange: rgba(243, 255, 189, 1);
$strava-orange: #fd4c01;
$strava-light-orange: #ffaf8b;
$strava-mid-orange: #e98253;
$red: rgba(255, 22, 84, 1);