.feed-map-img{
  width: 550px;
  height: 300px;
  margin: 0 auto;
}

.feed-index-item{
  width: 600px;
  height: 500px;
  background: white;
  border-radius: 5px;
  margin: 10px 0;
  color: #2d2d32;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
}

.user-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  justify-content: space-between;
  span{
    display: flex;
    justify-content: flex-start;
    width: 90%;
  }
  .profile-pic{
    margin: 10px;
  }
  h4{
    color: #565656;
  }
}



.feed-right-links-div{
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  a{
    display: flex;
    align-content: space-around;
    align-items: center;
    color: #007FB6;

  }
  
}
.workout-pie-chart{
  .data-title{
    margin-top: 5%;
  }
}
.feed-user-data{
  position: -webkit-sticky;
  position: sticky;
  top: 12vh;
  width: 250px;
  height: 380px;
  background: white;
  border-radius: 5px;
  margin-left: 5vw;
  margin-top: 10px;
  color: #2d2d32;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
  .profile-pic{
    margin: 10px;
  }
}

.feed-right-links{
  position: -webkit-sticky;
  position: sticky;
  top: 13vh;
  // width:220px;
  // height: 300px;
  // background: white;
  margin-left: 5vw;
  border-radius: 5px;
  margin-right: 5vw;
  // margin-top: 10px;
  color: #2d2d32;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // justify-content: center;
  // box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
  h3{
    text-align: center;
    width: 180px;
    font-size: 18px;
    color: #007FB6;
    margin: 5px;
  }
}
.data-row{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.workout-data{
  margin: 20px;
}
.data {
  padding: 2px;
  .data-title{
    font-size: 16px;
  }
}
.my-workouts-link{
  display: flex;
  align-content: center;
  align-items: center;
  width: 90%;
  height: 100px;
  border-top: 1px solid rgba(13, 13, 18, 0.158);
  padding-top: 5%;
  margin-left: 5%;
  padding-bottom: 5%;
  margin-right: 5%;
  a{
    width: 100%;
    text-align: center;
    color: #007FB6;
    font-size: 20px;
    i{
      font-size: 16px;
      color: #007FB6;
      margin: 5px;
    }
  }
  
}

.feed-link-item{
  width: fit-content;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: space-around;

}

.github-logo{
  background: asset-url("GitHub-Mark-120px-plus.png");
  width: 50px;
  height: 50px;
  background-size: cover;
}

.linkedin-logo{
  background: asset-url("LI-In-Bug.png");
  width: 50px;
  height: 50px;
  background-size: cover;
}

.workout-pie-chart {
  width: 90%;
  border-top: 1px solid rgba(13, 13, 18, 0.158);
  margin: 5%;
}

.feed-user-info {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;

}

@media only screen and (min-width: 1500px) {
  .feed-index-item{
    width: 700px;
  }

}
@media only screen and (min-width: 1600px) {
  .feed-index-item{
    width: 800px;
  }

}
