

.feed-container{
  background: #f5f5fA;
  width: 100vw;
  min-height: 90vh;
  display: flex;
  padding-top: 5vh;


  .feed-left{
    width: 30vw;
  }

  .feed-right{
    width: 30vw;
  }
  
  .feed-center{
    width: 40vw;
    // margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  @media only screen and (max-width: 1200px) {
    .feed-right {
      width: 0;
      visibility: hidden;
    }
    .feed-left {
      width: 30vw;
    }
    .feed-center{
      width: 70vw;
    }

  }

  @media only screen and (max-width: 1000px) {
    .feed-left, .feed-right {
      width: 0;
      visibility: hidden;
    }
    .feed-center{
      width: 100vw;
    }

  }

      

}