nav{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 10%;
  margin-left: 10%;
  height: 100%;
  align-items: center;
}

header{
  border-bottom: 1px solid lightgray;
  height: 7vh;
}

.logo{
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  background-image: asset-url("strava-logo.png");
}

.profile_pic{
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
  border-radius: 50%;
  margin-right: 5px;
  background-image: asset-url("dummy-profile-pic.png");
  border: solid lightgray 1px;
}

.r-side-buttons{
  // margin-top: 5px;
  display: flex;
}

.r-side-buttons button {
  // margin-top: 5px;
  margin-left: 10px;
}

.left-side{
  display: flex;
  flex-direction: row;
}

.left-side h1{
  font-size: 30px;
  color: $strava-orange;
  margin-top: 7px;
  font-weight: 900;
}

@media screen and (max-height:700px){
  header {
    height: 55px;
  }
}