// .show-page {
//   display: flex;
//   flex-direction: row;
//   width: 100vw;
//   height: 93vh;
  
// }
// .show-map {
//   width: 400px;

// }
// .show-map #show-map-container {
//   left: 20%;
//   width: 400px;
//   height: 400px;
// }

.show-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70vh;
  margin: 10vh;
}

.show-route-data li{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 16px;
}

#map {
  width: 60%;
  height: 400px;
}

.show-route-data {
  top: 30px;
  width: 300px;
  height: 400px;
  // bottom: 30px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
  // display: flex;
}

.show-route-data ul {
  margin-top: 15%;
}

.show-route-data h2 {
  width: 100%;
  height: 50px;
  color: #333333;
  background: #f7f7f7;
  padding-top: 25px;
  border-bottom: 1px solid #ccccd1;
}

