form button {
  color: $white;
  font-size: 24px;
  background-color:$strava-orange;
  border-radius: 5px;
  width: 286px;
  height: 30px;
  display: block;
  margin: 0 auto;
}

form label {
}

form input {
	flex: 1;
  background-color: rgba(14, 13, 13, 0.932);
	padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.582);
  border-radius: 5px;
  margin: 5px;
  display: block;
  width: 282px;
  height: 22px;
  margin: 0 auto;
  font-size: 20px;
  color: white;
  cursor: text;
  // width: 20px;
}

form input:focus {
  background-color: $white;
  color: black;
  border: 1px solid rgba(14, 13, 13, 0.486);
  box-shadow: 0px 0px 5px 3px $white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
  color: grey;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
  color: grey;
  opacity: 1;
}

form select {
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.582);
  background: rgba(14, 13, 13, 0.932);
  color: grey;
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  width: 304px;
  height: 44px;
  cursor: pointer;
}

// form textarea {
//   border-radius: 5px;
//   border: 4px solid $strava-orange;
//   background-color: $white;
//   width: 80%;
//   height: 100px;
//   display: block;
//   margin: 0 auto;
//   font-size: 14px;
// }

.form {  

  background-color: rgba(14, 13, 13, 0.774);
  border-radius: 8px;
  width: 500px;
  height: 750px;
  // justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.background-signup{
  display: flex;
  // background-size: 100% 100%;
  height: 100%;
  width: 100%; 
  // overflow: hidden;
  background-repeat: no-repeat;
  background-image: asset-url("signup.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.errors ul li{
  color: $white;
  text-align: center;
}

.h2-form{
  color: $white;
  background-color: rgba(14, 13, 13, 0.932);
  font-size: 40px;
  font-weight: 900;
  padding: 15px;
  border-radius: inherit;
}


@media screen and (max-height:850px){
  .background-signup {
    height: initial;
  }
}