form button {
  color: $white;
  font-size: 24px;
  background-color:$strava-orange;
  border-radius: 5px;
  width: 280px;
  height: 30px;
  display: block;
  margin: 0 auto;
}

form label {
}

form input {
	flex: 1;
  background-color: $white;
	padding: 5px;
  border: 2px solid $strava-light-orange;
  border-radius: 5px;
  margin: 5px;
  display: block;
  width: 290px;
  height: 30px;
  margin: 0 auto;
  font-size: 20px;
  // width: 20px;
}

form select {
  border-radius: 5px;
  border: 2px solid $strava-mid-orange;
  background: $strava-mid-orange;
  color: $white;
  display: block;
  margin: 0 auto;
  padding: 5px;
  font-size: 20px;
  width: 300px;
  height: 37px;
}

// form textarea {
//   border-radius: 5px;
//   border: 4px solid $strava-orange;
//   background-color: $white;
//   width: 80%;
//   height: 100px;
//   display: block;
//   margin: 0 auto;
//   font-size: 14px;
// }

.form {  

  background-color: rgba(14, 13, 13, 0.774);
  border-radius: 8px;
  width: 500px;
  height: 700px;
  // justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
}

.background{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  // box-sizing: border-box;
  background-size: unset;
  background-image: asset-url("cycling_splash.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.errors ul li{
  color: $white;
  text-align: center;
}

.h2-form{
  color: $strava-mid-orange;
  background-color: rgba(14, 13, 13, 0.932);
  font-size: 30px;
  font-weight: 700;
  padding: 15px;
  border-radius: inherit;
}
