

.splash {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 93vh;
  width: 100vw;
  overflow: hidden;
  background-image: asset-url("2_women_splash.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.splash h2{
  color: $strava-orange;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  font-weight: bold;
  font-size: 34px;
}

html, body {
  height: 100%;
}
body {
  display: flex;

}

footer {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 100px;
  // background: #2d2e2cd0;
  background: rgba(45, 45, 50, 0.651);
  

}


.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5vw;
  margin-left: 5vw;
  height: 100px;

}

.left-side-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-side-footer a{
  height: 20px;
  margin: 5px;
}
.right-side-footer a{
  height: 20px;
  margin: 5px;
}

.right-side-footer{
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  margin-top: 30px;
}

footer a{
  display: flex;
  flex-direction: column;
  color: lightgrey;
  padding: 10px;
  margin-top: 5px;
  background: grey;
  border-radius: 3px;
  text-align: center;
  margin-top: 10px;

}

footer a:hover {
  background: rgba(45, 45, 50, 0.986);

}

footer h1{
  color: lightgrey;
}

footer h3{
  color: lightgrey;
  margin: 10px;

  text-align: center;

}

.splash-button {
    color: $white;
    font-size: 24px;
    background: rgba(45, 45, 50, 0.651);
    border-radius: 10px;
    width: 250px;
    height: 60px;
    display: block;
    position: absolute;
    top: 30%;
    left: 70%;
    text-transform: none;
}

.splash-button:hover {
  background: rgba(105, 105, 110, 0.651);
}

// .follow-buttons {
//   display: flex;
//   flex-direction: row;
// }

@media screen and (max-width:900px){
  .splash-button{
    visibility: hidden;
  }
  // .right-side-footer{
  //   display: none;
  // }
}

@media screen and (max-height:700px){
  .splash{
    height: 90vh;
  }
}
