

.splash {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  // background-size: unset;
    // position: relative;
  overflow: hidden;
  background-image: asset-url("2_women_splash.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.splash h2{
  color: $strava-orange;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  font-weight: bold;
  font-size: 34px;
}