.workout-form {

  margin: 0 5vw;
  

  input{
    background: white;
    color: black;
    font-size: 14px;
    margin: 2px;
  }
  input:focus {
    background-color:white;
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.582);
    box-shadow: none;
  }

  select{
    background: white;
    color: black;
    height: 42px;
    margin: 2px;

  }

  textarea{
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.582);
    padding: 10px;
    width: 500px;
    margin: 10px 0;
    height: 150px;
    font-size: 18px;
  }

}

.form-subjective-params{
  border-left: 1px solid rgba(128, 128, 128, 0.582);
  // padding: 30px 0;
  // width: 100%;
  display: inline-flex;
  padding: 0 15px;
  select{
    width: 60px;
    margin: 5px 0;
  }
}
.form-duration{
  input{
    width: 38px;
    height: 20px;
    margin: 2px 0;
    font-size: 16px;
  }
  display: inline-flex;
}

.form-hr{
  padding: 0 8px;
  input{
    width: 80px;
    margin: 5px 0;
    height: 22px;
    font-size: 16px;
  
  }
  display: inline-flex;
}

.row{
  display: inline-flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.582);
  padding: 30px 0;
  width: 100%;
}
.workout-errors {
  font-size: 14px;
  margin: 5px 10px;
  height: 20px;
  color: red;
  width: 65%;
}

.input-block {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.workout-submit {
  width: 200px;
  margin: 10px 0;
  text-transform: capitalize;
}

.workouts-sub-header{
  display: inline-flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.582);
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 41px;
    color: #2d2d32;
  }
}

.form-label{
  color: #2d2d32;
}