table.index-table {
  // border: 1px solid #FD4C01;
  background-color: rgb(233, 230, 230);
  width: 80vw;
  text-align: left;
  border-collapse: collapse;
  margin: 30px 10vw;
  border-radius: 3px;
  
}
table.index-table td, table.index-table th {
  padding: 6px 5px;
}
table.index-table tbody td {
  font-size: 13px;
}
table.index-table tr:nth-child(even) {
  background: #FFAF8B;
}
table.index-table thead {
  background: #FD4C01;
  background: -moz-linear-gradient(top, #fd7940 0%, #fd5e1a 66%, #FD4C01 100%);
  background: -webkit-linear-gradient(top, #fd7940 0%, #fd5e1a 66%, #FD4C01 100%);
  background: linear-gradient(to bottom, #fd7940 0%, #fd5e1a 66%, #FD4C01 100%);
}
