table.index-table {
  border: 1px solid #1C6EA4;
  background-color: #F7F7F7;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.index-table td, table.index-table th {
  padding: 6px 5px;
}
table.index-table tbody td {
  font-size: 13px;
}
table.index-table tr:nth-child(even) {
  background: #FFAF8B;
}
table.index-table thead {
  background: #FD4C01;
  background: -moz-linear-gradient(top, #fd7940 0%, #fd5e1a 66%, #FD4C01 100%);
  background: -webkit-linear-gradient(top, #fd7940 0%, #fd5e1a 66%, #FD4C01 100%);
  background: linear-gradient(to bottom, #fd7940 0%, #fd5e1a 66%, #FD4C01 100%);
}
table.index-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}
table.index-table tfoot td {
  font-size: 14px;
}
table.index-table tfoot .links {
  text-align: right;
}
table.index-table tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}